.site__title {
  font-size: 2rem;
  font-weight: normal;
  line-height: $header-tiny;
  @include breakpoint($short) {
    line-height: $header-big;
  }
  @include breakpoint($short and $small) {
    line-height: 54px;
    margin: 0 1rem;
  }
}
.site__title a {
  color: $font-color;
  text-decoration: none;
}
.site__title__ext {
  opacity: 0.7;
}
