@include breakpoint($mq-topnav-visible) {

  .hamburger,
  .topnav-mask,
  .topnav-toggle {
    display: none;
  }

  #topnav {
    --nav-section: 26px;
    --nav-section-hover: 35px;
    @include breakpoint($mq-site-header-tall) {
      --nav-section: 48px;
      --nav-section-hover: 52px;
    }
    display: flex;
    & a {
      color: $c-font;
    }
    & section {
      position: relative;
      height: var(--nav-section);
      & > a {
        display: block;
        height: var(--nav-section);
        line-height: var(--site-header-height);
        padding: 0 12px;
        text-transform: uppercase;
        border-left: 2px solid transparent;
      }
      &:hover > a {
        height: var(--nav-section-hover);
        background: $c-background-clear;
        color: $c-font-clear;
        border-color: $c-primary;
      }
      &:hover div {
        display: block;
        border-left: 2px solid $c-primary;
      }
    }
    & div {
      display: none;
      position: absolute;
      left: 0;
      background: $c-background-clear;
      width: 10rem;
      box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.3);
      border-radius: 0 3px 3px 3px;
      & a {
        display: block;
        padding: 6px 12px;
        color: $c-font-clear;
        &:hover {
          background: $c-primary;
          color: $c-primary-over;
        }
        &:first-child {
          border-radius: 0 3px 0 0;
        }
        &:last-child {
          border-radius: 0 0 3px 1px ;
        }
      }
    }
    &.blind div {
      display: block;
      margin-left: -9000px;
    }
  }
}
