.lobby__counters {
  display: flex;
  justify-content: space-between;
  margin: 0 $block-gap;
  @include breakpoint($col-2) {
    display: block;
    margin: 0;
  }
}

.lobby__timeline {
  height: 10rem;
}
