$col-2: $x-small;
$col-3: $large;

body {

  grid-template-columns: 1fr;
  grid-template-rows:
  var(--site-header-size)
  min-content
  minmax(500px, calc(75vh - var(--site-header-size) - #{$block-gap} - 200px));

  grid-column-gap: $block-gap;
  grid-row-gap: $block-gap;

  @include breakpoint($col-2) {
    grid-template-columns: 1fr repeat(3, minmax(150px, 350px)) 1fr;
    grid-template-rows:
    var(--site-header-size)
    min-content
    minmax(500px, calc(75vh - var(--site-header-size) - #{$block-gap} - 200px));
  }
  @include breakpoint($col-3) {
    grid-template-columns: 1fr repeat(4, minmax(150px, 350px)) 1fr;
    grid-template-rows:
    var(--site-header-size)
    0
    minmax(500px, calc(75vh - var(--site-header-size) - #{$block-gap}));
  }
}

.site-header {
  grid-column: 1;
  grid-row: 1;
  @include breakpoint($col-2) {
    grid-column: 2 / 6;
  }
  @include breakpoint($col-3) {
    grid-column: 3 / 7;
    margin-right: $block-gap;
  }
}

.site-header .site-title {
  @include breakpoint($col-3) {
    display: none;
  }
}
body > .site-title {
  display: none;
  @include breakpoint($col-3) {
    display: block;
    grid-column: 2;
    grid-row: 1;
    text-align: center;
  }
}

.lobby__side {
  grid-column: 1;
  grid-row: 4;
  @include breakpoint($col-2) {
    grid-column: 2;
    grid-row: 3;
  }
  @include breakpoint($col-3) {
    grid-row: 2 / 4;
  }
  display: flex;
  flex-flow: column nowrap;
}
.lobby__timeline {
  flex: 1 1 100%;
}

.lobby {
  grid-column: 1;
  grid-row: 3;
  @include breakpoint($col-2) {
    grid-column: 3 / 5;
    grid-row: 2 / 4;
  }
}

.lobby__play-buttons {
  grid-column: 1;
  grid-row: 2;
  @include breakpoint($col-2) {
    grid-column: 2;
    grid-row: 2;
  }
  @include breakpoint($col-3) {
    grid-column: 5;
    grid-row: 2 / 4;
  }
}

.lobby__tv {
  grid-column: 1;
  grid-row: 5;
  @include breakpoint($col-2) {
    grid-column: 2;
    grid-row: 4;
  }
}

.lobby__leaderboard {
  grid-column: 1;
  grid-row: 7;
  @include breakpoint($col-2) {
    grid-column: 3;
    grid-row: 4;
  }
}

.lobby__winners {
  grid-column: 1;
  grid-row: 8;
  @include breakpoint($col-2) {
    grid-column: 4;
    grid-row: 4;
  }
}

.lobby__puzzle {
  grid-column: 1;
  grid-row: 6;
  @include breakpoint($col-2) {
    grid-column: 2;
    grid-row: 5;
  }
  @include breakpoint($col-3) {
    grid-column: 5;
    grid-row: 4;
  }
}

.lobby__tournaments,
.lobby__simuls,
.lobby__forum,
.lobby__blog,
.lobby__patron,
.lobby__about {
  @include breakpoint($col-2) {
    grid-column: 3 / 5;
  }
}
