$mq-col-2: $mq-x-small;
$mq-col-3: $mq-large;

.site-content {

  grid-template-rows: min-content minmax(400px, calc(80vh - var(--site-header-height) - 150px));

  grid-template-areas:
  "play"
  "app"
  "side"
  "leader"
  "tv"
  "puzzle"
  "winner"
  "tours"
  "simuls"
  "forum"
  "blog"
  "patron"
  "about";

  @include breakpoint($mq-col-2) {

    grid-template-columns: 1fr repeat(3, minmax(150px, 350px)) 1fr;

    grid-template-rows: min-content minmax(500px, calc(75vh - var(--site-header-height) - 200px));

    grid-template-areas:
    ". play   app    app    ."
    ". side   app    app    ."
    ". tv     leader winner ."
    ". puzzle tours  tours  ."
    ". .      simuls simuls ."
    ". .      forum  forum  ."
    ". .      blog   blog   ."
    ". .      patron patron ."
    ". .      about  about  .";
  }

  @include breakpoint($mq-col-3) {

    grid-template-columns: 1fr repeat(4, minmax(150px, 350px)) 1fr;

    grid-template-rows: minmax(500px, calc(75vh - var(--site-header-height)));

    grid-template-areas:
    ". side   app    app    play   ."
    ". tv     leader winner puzzle ."
    ". .      tours  tours  .      ."
    ". .      simuls simuls .      ."
    ". .      forum  forum  .      ."
    ". .      blog   blog   .      ."
    ". .      patron patron .      ."
    ". .      about  about  .      .";
  }
}

.lobby__side { grid-area: side; }
.lobby__app { grid-area: app; }
.lobby__play-counters { grid-area: play; }
.lobby__tv { grid-area: tv; }
.lobby__leaderboard { grid-area: leader; }
.lobby__winners { grid-area: winner; }
.lobby__puzzle { grid-area: puzzle; }
.lobby__tournaments { grid-area: tours; }
.lobby__simuls { grid-area: simuls; }
.lobby__forum { grid-area: forum; }
.lobby__blog { grid-area: blog; }
.lobby__patron { grid-area: patron; }
.lobby__about  { grid-area: about ; }
