.lobby__streams placeholder {
  height: 5rem;
  margin-bottom: $block-gap;
}
.lobby placeholder {
  min-height: 15rem;
}
.lobby__tournaments placeholder {
  height: 100%;
  @include breakpoint($mq-col-3) {
    height: 15rem;
  }
}
