@include breakpoint($col-3) {
  .lobby__play-counters {
    position: relative;
  }
  .lobby__counters {
    position: absolute;
    bottom: 0;
  }
  .lobby__play-buttons {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}
.lobby__play-buttons {
  & .button {
    width: 100%;
    margin: .2rem 0;
    padding: .5rem;
    @include breakpoint($col-3) {
      margin: 1rem 0;
      padding: 1rem;
    }
  }
}
