%placeholder {
  width: 100%;
  height: 100%;
  background: $c-background-clear;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  // outline: 1px solid $c-border;
  @extend %box-shadow;
}
.placeholder {
  @extend %placeholder;
}

.lobby__streams .placeholder {
  height: 5rem;
  margin-bottom: $block-gap;
}
.lobby__leaderboard .placeholder,
.lobby__winners .placeholder,
.lobby__tournaments .placeholder,
.lobby__simuls .placeholder,
.lobby__forum .placeholder,
.lobby__blog .placeholder,
.lobby__patron .placeholder {
  min-height: 15rem;
}
.lobby__tournaments .placeholder {
  height: 100%;
  @include breakpoint($col-3) {
    height: 15rem;
  }
}
