$mq-col-2: ($mq-x-small, $mq-landscape);

$mq-room-for-moves: $mq-x-small $mq-short;

$col-1-player-clock-height: 60px;
$col-1-clock-height: 60px;
$col-1-actions-height: 60px;
$col-1-moves-height: 9rem;

$col-2-material-height: 30px;
$col-2-clock-height: 60px;
$col-2-player-height: 40px;
$col-2-moves-height: auto;
$col-2-actions-height: 60px;

@mixin col-2-grid-columns-with-gaps($left, $center, $right) {
  grid-template-columns:
  $left
  minmax(200px, calc((100vh - var(--site-header-height))))
  $center
  minmax(200px, auto)
  $right;
  @include breakpoint($mq-zoom-enabled) {
    grid-template-columns:
    $left
    minmax(200px, calc((100vh * var(--scale) - var(--site-header-height))))
    $center
    minmax(200px, auto)
    $right;
  }
}

@mixin col-2-grid-rows-with-moves($moves) {
  grid-template-rows:
  auto
  $col-2-material-height
  $col-2-clock-height
  $col-2-player-height
  $moves
  $col-2-actions-height
  $col-2-player-height
  $col-2-clock-height
  $col-2-material-height
  auto;
}

.round__chess {

  display: grid;

  grid-template-columns: 3fr 1fr;

  grid-template-rows:
  $col-1-player-clock-height
  auto
  $col-1-player-clock-height
  $col-1-actions-height
  $col-1-moves-height;

  grid-template-areas:
  "user-op clock-op"
  "board   board"
  "user-pl clock-pl"
  "actions actions"
  "moves   moves";

  @include breakpoint($mq-col-2) {
    @include col-2-grid-columns-with-gaps(auto, minmax($block-gap, auto), auto);
    @include col-2-grid-rows-with-moves(0);
    grid-template-areas:
    ". board . ."
    ". board . mat-op"
    ". board . clock-op"
    ". board . user-op"
    ". board . ."
    ". board . actions"
    ". board . user-pl"
    ". board . clock-pl"
    ". board . mat-pl"
    ". board . .";
    @include breakpoint($mq-room-for-moves) {
      @include col-2-grid-rows-with-moves($col-2-moves-height);
      grid-template-areas:
      ". board . ."
      ". board . mat-op"
      ". board . clock-op"
      ". board . user-op"
      ". board . moves"
      ". board . actions"
      ". board . user-pl"
      ". board . clock-pl"
      ". board . mat-pl"
      ". board . .";
    }
  }

  @include breakpoint($mq-col-3) {
    @include col-2-grid-columns-with-gaps(0, $block-gap, 0);
      grid-template-areas:
      ". board . ."
      ". board . mat-op"
      ". board . clock-op"
      ". board . user-op"
      ". board . moves"
      ". board . actions"
      ". board . user-pl"
      ". board . clock-pl"
      ". board . mat-pl"
      ". board . .";
  }

  &__board {
    grid-area: board;
    @include breakpoint($mq-col-2) {
      /* Align vertically when zoomed out */
      display: flex;
      flex-flow: column;
      justify-content: center;
    }
    @include breakpoint($mq-portrait) {
      /* In portrait single column, make sure both clocks and the board fit in the viewport.
       * If they don't, limit the board width */
max-width: calc(100vh - var(--site-header-height) - (#{$col-1-clock-height} * 2));
    }
    & .cg-board-wrap {
      @extend %square;
    }
  }
  &__material-op {
    @extend %round__chess__material;
    grid-area: mat-op;
  }
  &__material-pl {
    @extend %round__chess__material;
    grid-area: mat-pl;
  }
  &__user-op {
    @extend %round__chess__user;
    grid-area: user-op;
  }
  &__user-pl {
    @extend %round__chess__user;
    grid-area: user-pl;
  }
  &__clock {
    @include breakpoint($mq-x-small) {
      width: 70%;
    }
  }
  &__clock-op { grid-area: clock-op; }
  &__clock-pl { grid-area: clock-pl; }
  &__moves {
    grid-area: moves;
    @include breakpoint($mq-col-2) {
      display: none;
      @include breakpoint($mq-room-for-moves) {
        height: 15vh;
        display: flex;
      }
    }
  }
  &__actions { grid-area: actions; }
}

%round__chess__user {
  white-space: nowrap;
  justify-content: left;
  padding: 0.5rem;
  text-transform: none;
}
%round__chess__material {
  display: none;
  @include breakpoint($mq-col-2) {
    display: block;
  }
}

@include breakpoint($mq-col-2) {
  .round__chess__material-op,
  .round__chess__clock-op,
  .round__chess__user-op,
  .round__chess__moves,
  .round__chess__actions,
  .round__chess__user-pl,
  .round__chess__clock-pl,
  .round__chess__material-pl {
    max-width: 30vw;
  }
  .round__chess__clock-op,
  .round__chess__clock-pl {
    max-width: 20vw;
  }
}
