$col-2: ($x-small, $landscape);

$col-1-player-clock-height: 60px;
$col-1-clock-height: 60px;
$col-1-actions-height: 60px;
$col-1-moves-height: 9rem;

$col-2-material-height: 30px;
$col-2-clock-height: 60px;
$col-2-player-height: 40px;
$col-2-moves-height: auto;
$col-2-actions-height: 60px;

@mixin col-2-grid-columns-with-gaps($left, $center, $right) {
  grid-template-columns:
  $left
  minmax(200px, calc((100vh - var(--site-header-size))))
  $center
  minmax(200px, auto)
  $right;
  @include breakpoint($zoom-enabled) {
    grid-template-columns:
    $left
    minmax(200px, calc((100vh * var(--scale) - var(--site-header-size))))
    $center
    minmax(200px, auto)
    $right;
  }
}

@mixin col-2-grid-rows-with-moves($moves) {
  grid-template-rows:
  auto
  $col-2-material-height
  $col-2-clock-height
  $col-2-player-height
  $moves
  $col-2-actions-height
  $col-2-player-height
  $col-2-clock-height
  $col-2-material-height
  auto;
}

.site__chess {

  display: grid;

  grid-template-columns: 3fr 1fr;
  grid-template-rows:
  $col-1-player-clock-height
  auto
  $col-1-player-clock-height
  $col-1-actions-height
  $col-1-moves-height;

  @include breakpoint($col-2) {
    @include col-2-grid-columns-with-gaps(auto, minmax($block-gap, auto), auto);
    @include col-2-grid-rows-with-moves(0);
    @include breakpoint($room-for-moves) {
      @include col-2-grid-rows-with-moves($col-2-moves-height);
    }
  }

  @include breakpoint($col-3) {
    @include col-2-grid-columns-with-gaps(0, $block-gap, 0);
  }

  .chess__board {
    grid-column: 1 / 3;
    grid-row: 2;
    @include breakpoint($col-2) {
      grid-column: 2;
      grid-row: 1 / 11;
      /* Align vertically when zoomed out */
      display: flex;
      flex-flow: column;
      justify-content: center;
    }
    @include breakpoint($portrait) {
      /* In portrait single column, make sure both clocks and the board fit in the viewport.
       * If they don't, limit the board width */
max-width: calc(100vh - var(--site-header-size) - (#{$col-1-clock-height} * 2));
    }
  }
}
.chess__board .cg-board-wrap {
  @extend %square;
}

.chess__user-op {
  grid-column: 1;
  grid-row: 1;
  @include breakpoint($col-2) {
    grid-row: 4;
  }
}
.chess__clock-op {
  grid-column: 2;
  grid-row: 1;
  @include breakpoint($col-2) {
    grid-row: 3;
  }
}

.chess__user-pl {
  grid-column: 1;
  grid-row: 3;
  @include breakpoint($col-2) {
    grid-row: 7;
  }
}
.chess__clock-pl {
  grid-column: 2;
  grid-row: 3;
  @include breakpoint($col-2) {
    grid-row: 8;
  }
}

.chess__actions {
  grid-column: 1 / 3;
  grid-row: 4;
  @include breakpoint($col-2) {
    grid-row: 6;
  }
}
.chess__moves {
  grid-column: 1 / 3;
  grid-row: 5;
  @include breakpoint($col-2) {
    display: none;
    @include breakpoint($room-for-moves) {
      grid-row: 5;
      height: 15vh;
      display: flex;
    }
  }
}

.chess__material {
  display: none;
  @include breakpoint($col-2) {
    display: block;
    grid-column: 2;
    &-op {
      grid-row: 2;
    }
    &-pl {
      grid-row: 9;
    }
  }
}

@include breakpoint($col-2) {
  .chess__play {
    grid-column: 4;
    max-width: 33vw;
  }
  .chess__clock {
    max-width: 25vw;
  }
}

.chess__user {
  white-space: nowrap;
  justify-content: left;
  padding: 0.5rem;
  text-transform: none;
}

.chess__clock {
  @include breakpoint($x-small) {
    width: 70%;
  }
}
