$mq-col-2: $mq-x-small;
$mq-col-3: $mq-large;

.round {

  // --zoom: 85; defined in the HTML, loaded from server saved config
  --scale: calc((var(--zoom) / 100) * 0.5 + 0.5);

  grid-template-areas:
  "chess"
  "info-chat"
  "ct-boards";

  /* 2 columns */
  @include breakpoint($mq-col-2) {
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
    "chess      chess"
    "info-chat  ct-boards";
  }

  /* 3 columns */
  @include breakpoint($mq-col-3) {
    grid-template-columns:
    minmax(0, 1fr)
    minmax(200px, 300px)
    minmax(600px, calc(100vh * var(--scale) - var(--site-header-height)))
    minmax(200px, 300px)
    minmax(0, 1fr);
    grid-template-areas:
    ". info-chat  chess     chess       ."
    ". under-chat ct-boards under-table .";
  }
}

.round__chess { grid-area: chess; }

.round__info-chat {
  grid-area: info-chat;
  display: flex;
  flex-flow: column nowrap;
}

.round__ct-boards { grid-area: ct-boards; }

.round__under-chat {
  grid-area: under-chat;
  display: none;
  @include breakpoint($mq-col-3) {
    height: 200px;
    display: flex;
  }
}
.round__under-table {
  grid-area: under-table;
  display: none;
  @include breakpoint($mq-col-3) {
    height: 200px;
    display: flex;
  }
}
