.placeholder {
  width: 100%;
  background: $c-background2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  outline: 1px solid $c-border;
}

.game__info {
  flex: 0 1 120px;
}
.chat__lines {
  margin-top: $block-gap;
  flex: 1 1 200px;
}
.chat__input {
  flex: 0 0 40px;
}
.game__crosstable {
  height: 100px;
}
.game__others {
  margin-top: $block-gap;
  height: 300px;
}

#zoom-input {
  display: none;
  @include breakpoint($zoom-enabled) {
    display: block;
    position: fixed;
    bottom: 3px;
    right: 3px;
    width: 10vw;
  }
}
