.round__info {
  flex: 0 1 120px;
}
.chat__lines {
  margin-top: $block-gap;
  flex: 1 1 200px;
}
.chat__input {
  flex: 0 0 40px;
}
.game__crosstable {
  height: 100px;
}
.game__others {
  margin-top: $block-gap;
  height: 300px;
}
