html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
  font-size: $font-size;
  overflow-x: hidden;
}

body {
  background: $c-background;
  color: $c-font;
  font-size: 1rem;
}

a {
  color: $c-link;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    color: $c-link-hover;
  }
}
