html {
  font: 1rem/1.6 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
}

body {
  background: $c-background linear-gradient(to bottom, $c-body-gradient, $c-background 116px) no-repeat;
  color: $c-font;
  overflow-x: hidden;

  --site-header-height: #{$site-header-short-height};
  @include breakpoint($mq-site-header-tall) {
    --site-header-height: #{$site-header-tall-height};
  }

  --content-margin: 0;
  @include breakpoint($mq-medium) {
    --content-margin: #{$block-gap};
  }

  margin-bottom: $block-gap;
}

main {
  display: grid;
  grid-gap: $block-gap $block-gap;
}

a {
  color: $c-link;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    color: $c-link-hover;
  }
}
