$nav-bar-visible: $small;
$nav-bar-hidden: $not-small;
$title-visible: $xx-small;

body {
  --site-header-size: #{$header-tiny};
  @include breakpoint($short) {
    --site-header-size: #{$header-big};
  }
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  position: relative;
  z-index: z('site-header');
}

.site-header .site-title-nav {
  display: flex;
  justify-content: flex-start;
}

.site-title {
  font-size: 2rem;
  font-weight: normal;
  margin: 0 .5rem;
  display: none;
  @include breakpoint($xx-small) {
    display: block;
  }
  line-height: calc(#{$header-tiny} - 3px);
  font-size: 1.5rem;
  @include breakpoint($short) {
    line-height: $header-big;
    font-size: 1.8rem;
  }
  @include breakpoint($short $small) {
    line-height: 54px;
    margin: 0 1rem;
  }
  & a {
    color: $c-font;
    text-decoration: none;
    & span {
      color: $c-font-dim;
    }
    &:hover {
      color: $c-primary;
      & span {
        color: $c-primary-dim;
      }
    }
  }
}
body > .site-title {
  margin: 0;
}

.site-buttons {
  display: flex;
  height: $header-tiny;
  @include breakpoint($short) {
    height: $header-big;
  }
  align-items: center;
}
.site-buttons .link {
  color: $c-font;
  text-decoration: none;
  padding: 0 0.5rem;
}

.topnav-toggle {
  display: none;
}

@include breakpoint($nav-bar-hidden) {

  .topnav-toggle {
    display: block;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .hamburger {
    position: relative;
    flex: 0 0 40px;
    @include breakpoint($short) {
      flex-basis: 60px;
    }
    cursor: pointer;

    & span,
    & span::after,
    & span::before {
      display: block;
      margin-top: -1.5px;
      position: absolute;
      width: 23px;
      height: 2px;
      transition-timing-function: ease;
      transition-duration: .15s;
      transition-property: transform;
      border-radius: 3px;
      background-color: $c-font-dim;
      @include breakpoint($short) {
        width: 34px;
        height: 3px;
      }
    }
    & span {
      top: 50%;
      left: 8.5px;
      @include breakpoint($short) {
        left: 13px;
      }
      transition-duration: 0.22s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      &::after,
      &::before {
        display: block;
        content: "";
      }
      &::before {
        top: -6px;
        @include breakpoint($short) {
          top: -9px;
        }
        transition: top 0.1s 0.25s ease-in,
        opacity 0.1s ease-in;
      }
      &::after {
        bottom: -7px;
        @include breakpoint($short) {
          bottom: -10px;
        }
        transition: bottom 0.1s 0.25s ease-in,
        transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
    }
  }
  .topnav-toggle:checked ~ .hamburger {
    background: $c-background2;
    & span {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out,
        opacity 0.1s 0.12s ease-out;
      }
      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out,
        transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }

  #topnav {
    position: fixed;
    top: $header-tiny;
    @include breakpoint($short) {
      top: $header-big;
    }
    bottom: 0;
    left: 0;
    background: $c-background2;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform 200ms ease-in-out;
    padding: 0 0 1.2rem 1.2rem;
    overflow-y: auto;
    white-space: nowrap;
    line-height: 40px;
    box-shadow: 2px 3px 6px hsla(0, 0, 0%, 0.3);
    border-radius: 0 3px 0 0;

    & section {
      margin-top: 1rem;
      & > a {
        font-weight: bold;
      }
      & div {
        display: flex;
        flex-flow: column;
        & a {
          padding: 0 1.2rem;
          &:hover {
            background: $c-primary;
            color: #fff;
          }
        }
      }
    }

    & a {
      color: $c-font;
      text-decoration: none;
      opacity: 0;
      transition: opacity 75ms ease-in-out;
    }
  }
  .topnav-toggle:checked ~ #topnav {
    transform: scale(1, 1);
  }
  .topnav-toggle:checked ~ #topnav a {
    opacity: 1;
    transition: opacity 125ms ease-in-out 125ms;
  }

  .topnav-toggle:checked ~ .topnav-mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $c-page-mask;
  }
}

@include breakpoint($nav-bar-visible) {

  .hamburger,
  .topnav-mask {
    display: none;
  }

  #topnav {
    --nav-section: 26px;
    --nav-section-hover: 35px;
    @include breakpoint($short) {
      --nav-section: 40px;
      --nav-section-hover: 48px;
    }
    display: flex;
    & a {
      color: $c-font;
    }
    & section {
      position: relative;
      height: var(--nav-section);
      & > a {
        display: block;
        height: var(--nav-section);
        line-height: $header-tiny;
        @include breakpoint($short) {
          line-height: $header-big;
        }
        padding: 0 12px;
        text-transform: uppercase;
      }
      &:hover > a {
        height: var(--nav-section-hover);
        background: $c-background2;
        color: $c-font-clear;
      }
      &:hover div {
        display: block;
      }
    }
    & div {
      display: none;
      position: absolute;
      left: 0;
      background: $c-background2;
      width: 10rem;
      box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.3);
      & a {
        display: block;
        padding: 6px 12px;
        color: $c-font-clear;
        &:hover {
          background: $c-primary;
          color: $c-primary-over;
        }
      }
    }
  }
  #topnav.blind div {
    display: block;
    margin-left: -9000px;
  }
}
