$col-2: ($x-small, $landscape);
$clock-height: 60px;

.site__chess {

  --header-size: #{$header-tiny};
  @include breakpoint($short) {
    --header-size: #{$header-big};
  }

  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;

  grid-template-columns: 3fr 1fr;
  grid-template-rows:
  $clock-height
  auto
  $clock-height
  40px
  60px;

  @include breakpoint($col-2) {
    grid-template-columns:
    minmax(200px, calc(100vh - var(--header-size)))
    minmax(min-content, 1fr);
    grid-template-rows: auto 60px 40px auto 40px 40px 60px auto;
    grid-column-gap: $block-gap;
  }

  .chess__board {
    grid-column: 1 / 3;
    grid-row: 2;
    @include breakpoint($col-2) {
      grid-column: 1;
      grid-row: 1 / 9;
    }
    @include breakpoint($portrait) {
      /* In portrait single column, make sure both clocks and the board fit in the viewport.
       * If they don't, limit the board width */
max-width: calc(100vh - var(--header-size) - #{$block-gap} - (#{$clock-height} * 2));
// justify-self: center;
  }
}
}
.chess__board .square {
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}

@include breakpoint($col-2) {
  .chess__play {
    max-width: 33vw;
  }
  .chess__clock {
    max-width: 25vw;
  }
}

.chess__clock-op {
  grid-column: 2;
  grid-row: 1;
  @include breakpoint($col-2) {
    grid-column: 2;
    grid-row: 2;
  }
}
.chess__user-op {
  grid-column: 1;
  grid-row: 1;
  @include breakpoint($col-2) {
    grid-column: 2;
    grid-row: 3;
  }
}

.chess__clock-pl {
  grid-column: 2;
  grid-row: 3;
  @include breakpoint($col-2) {
    grid-column: 2;
    grid-row: 7;
  }
}
.chess__user-pl {
  grid-column: 1;
  grid-row: 3;
  @include breakpoint($col-2) {
    grid-column: 2;
    grid-row: 6;
  }
}

.chess__moves {
  grid-column: 1 / 3;
  grid-row: 5;
  @include breakpoint($col-2) {
    grid-column: 2;
    grid-row: 4;
  }
}
.chess__actions {
  grid-column: 1 / 3;
  grid-row: 4;
  @include breakpoint($col-2) {
    grid-column: 2;
    grid-row: 5;
  }
}

.chess__user {
  white-space: nowrap;
  justify-content: left;
  padding: 0.5rem;
  text-transform: none;
}

.chess__clock {
  @include breakpoint($x-small) {
    width: 70%;
  }
}
