/* Layout
=============== */

$col-2: $x-small;
$col-3: $large;
$grid-header: 30px;

body {
  display: grid;
  margin: 0;

  --board-size: calc(100vh - #{$grid-header} - (#{$block-gap} * 1.5));

  grid-template-columns: 1fr;

  grid-template-rows: $grid-header auto;

  grid-column-gap: 0;
  grid-row-gap: $block-gap;

  /* 2 columns */
  @include breakpoint($col-2) {
    grid-template-columns: 2fr 3fr;
    grid-column-gap: $block-gap;
  }

  /* 3 columns */
  @include breakpoint($col-3) {
    grid-template-columns:
    minmax(0, 1fr)
    minmax(200px, 300px)
    minmax(200px, var(--board-size))
    minmax(240px, 300px)
    minmax(0, 1fr);
  }
}

.site__title {
  grid-row: 1;
  display: none;
  margin: 0;
  font-size: 20px;
  @include breakpoint($col-3) {
    display: block;
    grid-column: 2;
  }
}
.site__title a {
  color: $font-color;
  opacity: 0.6;
}
.site__title__ext {
  opacity: 0.7;
}

.site__top {
  grid-column: 1 / 2;
  grid-row: 1;
  @include breakpoint($col-2) {
    grid-column: 1 / 3;
  }
  @include breakpoint($col-3) {
    grid-column: 3 / 5;
  }
}

.site__chess {
  grid-column: 1 / 2;
  grid-row: 2;

  @include breakpoint($col-2) {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  @include breakpoint($col-3) {
    grid-column: 3 / 5;
    grid-row: 2;
  }
}

.site__info-chat {
  display: flex;
  flex-flow: column nowrap;

  grid-column: 1;
  grid-row: 4;

  @include breakpoint($col-2) {
    grid-column: 1;
    grid-row: 3;
  }
  @include breakpoint($col-3) {
    grid-column: 2;
    grid-row: 2;
  }
}

.site__ct-boards {
  grid-column: 1;
  grid-row: 5;

  @include breakpoint($col-2) {
    grid-column: 2;
    grid-row: 3;
  }
  @include breakpoint($col-3) {
    grid-column: 3;
    grid-row: 3;
  }
}

.site__under-chat {
  display: none;
  height: 200px;
  @include breakpoint($col-3) {
    display: flex;
    grid-column: 2;
    grid-row: 3;
  }
}
.site__under-table {
  display: none;
  height: 200px;
  @include breakpoint($col-3) {
    display: flex;
    grid-column: 4;
    grid-row: 3;
  }
}
