.placeholder {
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  outline: 1px solid #aaa;
}

.game__info {
  flex: 1 1 120px;
}
.chat__lines {
  margin-top: $block-gap;
  flex: 1 1 100%;
}
.chat__input {
  flex: 0 0 40px;
}

.game__moves {
  background: hsl(138, 37%, 80%);
  display: none;
  @include breakpoint($room-for-moves) {
    display: flex;
    flex: 0 0 90px;
  }
}
.game__actions {
  flex: 0 0 70px;
}
.game__clock {
  background: #ddd;
  height: 80px;
  width: 70%;
}
.game__player {
  background: #d0d0d0;
  height: 40px;
}

.game__crosstable {
  height: 100px;
}
.game__others {
  margin-top: $block-gap;
  height: 300px;
}
