$menu-section: 40px;
$menu-section-hover: 48px;

.site__top {
  display: flex;
  justify-content: space-between;
}
.site__top nav {
  display: none;
  @include breakpoint($small) {
    display: flex;
  }
}
.site__top ul {
  display: flex;
  align-items: stretch;
  height: 100%;
}
.site__top li {
  list-style: none;
  padding: 0 1rem;
  text-transform: uppercase;
  line-height: 30px;
}

.site__buttons {
  display: flex;
  height: 60px;
  align-items: center;
}
.site__buttons .link {
  color: $font-color;
  text-decoration: none;
  padding: 0 0.5rem;
}

#topmenu a {
  text-decoration: none;
  color: $font-color;
}

#topmenu section {
  position: relative;
  height: $menu-section;
}
#topmenu section > a {
  color: #888;
  display: block;
  height: $menu-section;
  line-height: $grid-header;
  padding: 0 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #fff;
}
#topmenu section:hover > a {
  height: $menu-section-hover;
  background: #fff;
}
#topmenu.hover section:hover div {
  display: block;
}
#topmenu.blind div {
  display: block;
  margin-left: -9000px;
}
#topmenu div {
  display: none;
  position: absolute;
  left: 0;
  background: #fff;
  width: 10rem;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.3);
  z-index: 5;
}
#topmenu div a {
  display: block;
  padding: 6px 10px;
}
#topmenu div a:hover {
  background: $primary-color;
  color: #fff;
}
