$nav-bar-visible: $small;
$title-visible: $xx-small;

.site__top {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  position: relative;
  z-index: 5;
}

.site__top .site__title-nav {
  display: flex;
  justify-content: flex-start;
}

.site__title {
  font-size: 2rem;
  font-weight: normal;
  margin: 0 .5rem;
  display: none;
  @include breakpoint($xx-small) {
    display: block;
  }
  @include breakpoint($col-3) {
    display: none;
  }
  line-height: $header-tiny;
  font-size: 1.5rem;
  @include breakpoint($short) {
    line-height: $header-big;
    font-size: 1.8rem;
  }
  @include breakpoint($short $small) {
    line-height: 54px;
    margin: 0 1rem;
  }
  & a {
    color: $font-color;
    text-decoration: none;
    & span {
      color: dimmer($font-color, 30);
    }
    &:hover {
      color: $primary-color;
      & span {
        color: dimmer($primary-color, 30);
      }
    }
  }
}
body > .site__title {
  display: none;
  margin: 0;
  @include breakpoint($col-3) {
    display: block;
    grid-row: 1;
    grid-column: 2;
    text-align: center;
  }
}

.site__buttons {
  display: flex;
  height: $header-tiny;
  @include breakpoint($short) {
    height: $header-big;
  }
  align-items: center;
}
.site__buttons .link {
  color: $font-color;
  text-decoration: none;
  padding: 0 0.5rem;
}

.topnav-toggle {
  display: none;
}

@include breakpoint($not-small) {

  .topnav-toggle {
    display: block;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .hamburger {
    position: relative;
    flex: 0 0 40px;
    @include breakpoint($short) {
      flex-basis: 60px;
    }
    cursor: pointer;

    & span,
    & span::after,
    & span::before {
      display: block;
      margin-top: -1.5px;
      position: absolute;
      width: 23px;
      height: 2px;
      transition-timing-function: ease;
      transition-duration: .15s;
      transition-property: transform;
      border-radius: 3px;
      background-color: dimmer($font-color);
      @include breakpoint($short) {
        width: 34px;
        height: 3px;
      }
    }
    & span {
      top: 50%;
      left: 8.5px;
      @include breakpoint($short) {
        left: 13px;
      }
      transition-duration: 0.22s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      &::after,
      &::before {
        display: block;
        content: "";
      }
      &::before {
        top: -6px;
        @include breakpoint($short) {
          top: -9px;
        }
        transition: top 0.1s 0.25s ease-in,
        opacity 0.1s ease-in;
      }
      &::after {
        bottom: -7px;
        @include breakpoint($short) {
          bottom: -10px;
        }
        transition: bottom 0.1s 0.25s ease-in,
        transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
    }
  }
  .topnav-toggle:checked ~ .hamburger {
    background: #fff;
    & span {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out,
        opacity 0.1s 0.12s ease-out;
      }
      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out,
        transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }

  #topnav {
    position: fixed;
    top: $header-tiny;
    @include breakpoint($short) {
      top: $header-big;
    }
    bottom: 0;
    left: 0;
    background: $background2;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform 200ms ease-in-out;
    display: flex;
    flex-flow: column;
    padding: 0 1.2rem 1.2rem 1.2rem;
    overflow-y: auto;
    white-space: nowrap;
    line-height: 40px;
    box-shadow: 2px 3px 6px hsla(0, 0, 0%, 0.3);

    & section {
      margin-top: 1rem;
      & > a {
        font-weight: bold;
      }
      & div {
        margin-left: 1rem;
        display: flex;
        flex-flow: column;
      }
    }

    & a {
      color: $font-color;
      opacity: 0;
      transition: opacity 75ms ease-in-out;
    }
  }
  .topnav-toggle:checked ~ #topnav {
    transform: scale(1, 1);
  }
  .topnav-toggle:checked ~ #topnav a {
    opacity: 1;
    transition: opacity 125ms ease-in-out 125ms;
  }

  .topnav-toggle:checked ~ .topnav-mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: hsla(0, 0, 0%, 0.5);
  }
}

@include breakpoint($nav-bar-visible) {

  .hamburger,
  .topnav-mask {
    display: none;
  }

  #topnav {
    --nav-section: 26px;
    --nav-section-hover: 35px;
    @include breakpoint($short) {
      --nav-section: 40px;
      --nav-section-hover: 48px;
    }
    display: flex;
    & a {
      text-decoration: none;
      color: $font-color;
    }
    & section {
      position: relative;
      height: var(--nav-section);
      & > a {
        color: clearer($font-color);
        display: block;
        height: var(--nav-section);
        line-height: $header-tiny;
        @include breakpoint($short) {
          line-height: $header-big;
        }
        padding: 0 12px;
        text-transform: uppercase;
      }
      &:hover > a {
        height: var(--nav-section-hover);
        background: #fff;
      }
      &:hover div {
        display: block;
      }
    }
    & div {
      display: none;
      position: absolute;
      left: 0;
      background: #fff;
      width: 10rem;
      box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.3);
    }
    & div a {
      display: block;
      padding: 6px 10px;
    }
    & div a:hover {
      background: $primary-color;
      color: #fff;
    }
  }
  #topnav.blind div {
    display: block;
    margin-left: -9000px;
  }
}
