<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lichess layout</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, viewport-fit=cover"/> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <link href="../../assets/css/main.css?_" rel="stylesheet" />
    <style>
      body { --zoom: 85; }
    </style>
  </head>
  <body class="cburnett blue">

    <h1 class="site__title"><a href="#">
        lichess<span class="site__title__ext">.org</span>
    </a></h1>

    {{ content | safe }}

    <script src="../../assets/js/chessground.min.js"></script>
    <script src="../../assets/js/main.js"></script>

  </body>
</html>
