<content class="site-content palette">
  <div class="color background"><div class="variants"></div></div>
  <div class="color primary"><div class="variants"></div></div>
  <div class="color secondary"><div class="variants"></div></div>
  <div class="color accent"><div class="variants"></div></div>
  <div class="color brag"><div class="variants"></div></div>
  <div class="color error"><div class="variants"></div></div>
  <div class="color fancy"><div class="variants"></div></div>
  <div class="color font"><div class="variants"></div></div>
</content>
