$mq-col-1-2: $mq-xx-small;
$mq-col-2: $mq-small;
$mq-col-3: $mq-large;

.tour-show {
  display: grid;
  grid-template-areas:
  'info'
  'app'
  'chat'
  'tv'
  'games';

  @include breakpoint($mq-col-1-2) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: fit-content(90vh);
    grid-template-areas:
    'app   app'
    'chat  info'
    'chat  tv'
    'games games';
  }
  @include breakpoint($mq-col-2) {
    grid-template-columns: minmax(200px, 1fr) 2fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
    'info  app'
    'chat  app'
    'games tv ';
  }
  @include breakpoint($mq-col-3) {
    grid-template-columns: minmax(200px, 300px) minmax(500px, 700px) minmax(200px, 300px);
    // grid-template-rows: auto fit-content(0) fit-content(0);
    grid-template-rows: repeat(4, fit-content(0));
    grid-template-areas:
    'info app tv'
    'chat app tv'
    'chat app games'
    '.    app games';
  }

  & .placeholder {
    height: auto;
  }

  &__info {
    grid-area: info;
    & placeholder { height: 10rem; }
  }
  & .chat {
    grid-area: chat;
    max-height: 70vh;
  }
  &__tv {
    grid-area: tv;
    max-width: calc(100vh - 4em);
  }
  &__games {
    grid-area: games;
    & placeholder { height: 30rem };
  }
  &__app {
    grid-area: app;
    & placeholder { height: 35rem };
  }
  & .mini-board-container {
    margin: auto;
    max-width: calc(100vh - 4em);
    max-height: 100vw;
  }
}

.chat {
  display: flex;
  flex-flow: column nowrap;
  &__lines {
    flex: 1 1 200px;
    & .placeholder { height: 100%; }
  }
  &__input {
    flex: 0 0 40px;
  }
}
