$mq-col-2: $mq-small;
$mq-col-3: $mq-large;

.puzzle {

  @include board-scale-config;

  display: grid;

  grid-template-areas:
  'app'
  'meta'
  'rating';

  @include breakpoint($mq-col-2) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'app  app'
    'meta rating';
  }

  @include breakpoint($mq-col-3) {
    grid-template-columns:
    minmax(200px, 300px)
    minmax(600px, calc(100vh * var(--board-scale) - $site-header-height))
    minmax(200px, 300px);
    grid-template-areas:
    'meta   app app'
    "rating app app"
    ".      app app";
  }

  &__app {
    grid-area: app;
  }
  &__meta {
    grid-area: meta;
    & placeholder { height: 14rem }
  }
  &__rating {
    grid-area: rating;
    & placeholder { height: 14rem }
  }
}
