$font-path: "../font";

/* Widths */
$xx-small: (min-width 500px);
$x-small: (min-width 650px);
$small: (min-width 800px);
$medium: (min-width 1000px);
$large: (min-width 1120px);

$not-small: (max-width 799px);
$not-medium: (max-width 999px);

/* Heights */
$short: (min-height 500px);
$tall: (min-height 600px);

$portrait: (orientation portrait);
$landscape: (orientation landscape);

$block-gap: 1.5vmin;

$header-big: 60px;
$header-tiny: 40px;

/* Typography */

// Body font
$font-size: 1rem;
$body-font-size: 1rem;
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-family: 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
$line-height: 1.6;

// Headings
$heading-font-family: $font-family;
$heading-line-height: 1.2;
