$mq-col-2: $mq-xx-small;
$mq-col-3: $mq-large;

.analyse {

  @include board-scale-config;

  display: grid;

  grid-template-areas:
  'app'
  'info-chat'
  'features'
  'acpl';

  @include breakpoint($mq-col-2) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'app       app'
    'info-chat acpl'
    'features features';
  }

  @include breakpoint($mq-col-3) {
    grid-template-columns:
    minmax(250px, 300px)
    minmax(600px, calc(100vh * var(--board-scale) - #{$site-header-height}))
    minmax(300px, 400px);
    grid-template-areas:
    'info-chat  app      app'
    'under-chat features acpl';
  }
  &__app {
    grid-area: app;
  }

  &__info-chat {
    grid-area: info-chat;
    display: flex;
    flex-flow: column nowrap;
  }

  &__features {
    grid-area: features;
    &__container {
      placeholder {
        height: 15rem;
      }
    }
  }

  &__under-chat {
    grid-area: under-chat;
    display: none;
    @include breakpoint($mq-col-3) {
      height: 200px;
      display: flex;
    }
  }
  &__acpl {
    grid-area: acpl;
    display: none;
    @include breakpoint($mq-col-2) {
      height: 200px;
      display: flex;
    }
  }
  &__info {
    flex: 0 1 120px;
  }
  .chat__lines {
    margin-top: $block-gap;
    flex: 1 1 200px;
  }
  .chat__input {
    flex: 0 0 40px;
  }
}
